button {
    font-size: 1.5rem;
    position: relative;
    background: #546EED;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 6.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  padding: 0.7em;
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

textarea {
    text-align: center;
    width: 90%;
    height: 150px;
    resize: none;
    margin: auto;
    font-size: 1.2rem;
    border: 2px solid #546EED;
    border-radius: .5rem;
}

.keyboard {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.keyboard_row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}
